.todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-list li {
    margin-bottom: 8px;
  }
  
  .todo-list li.completed {
    text-decoration: line-through;
  }
  
  .delete-button {
    margin-left: 10px;
  }

 .mantine-loader{
  margin: 30px;
 }